{{- /* Resolve and validate the site/page Image Zoom switch without losing explicit false. */ -}}
{{- $enabled := false -}}

{{- with .Site.Params.ui -}}
  {{- if not (reflect.IsMap .) -}}
    {{- errorf "site parameter params.ui must be a map to configure params.ui.image_zoom.enable" -}}
  {{- end -}}
  {{- if isset . "image_zoom" -}}
    {{- $zoom := index . "image_zoom" -}}
    {{- if not (reflect.IsMap $zoom) -}}
      {{- errorf "site parameter params.ui.image_zoom must be a map with boolean enable" -}}
    {{- end -}}
    {{- if isset $zoom "enable" -}}
      {{- $value := index $zoom "enable" -}}
      {{- if ne (printf "%T" $value) "bool" -}}
        {{- errorf "site parameter params.ui.image_zoom.enable must be a boolean" -}}
      {{- end -}}
      {{- $enabled = $value -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with .Params.ui -}}
  {{- if not (reflect.IsMap .) -}}
    {{- errorf "page parameter params.ui must be a map to configure params.ui.image_zoom.enable in %s" $.Path -}}
  {{- end -}}
  {{- if isset . "image_zoom" -}}
    {{- $zoom := index . "image_zoom" -}}
    {{- if not (reflect.IsMap $zoom) -}}
      {{- errorf "page parameter params.ui.image_zoom must be a map with boolean enable in %s" $.Path -}}
    {{- end -}}
    {{- if isset $zoom "enable" -}}
      {{- $value := index $zoom "enable" -}}
      {{- if ne (printf "%T" $value) "bool" -}}
        {{- errorf "page parameter params.ui.image_zoom.enable must be a boolean in %s" $.Path -}}
      {{- end -}}
      {{- $enabled = $value -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return (dict "enable" $enabled) -}}
