{{ $links := .Site.Params.links -}}
{{ $contribUrl := .Params.contributingUrl | default "docs/contribution-guidelines" -}}

<section class="row{{ if eq .Type "docs" }} g-4 mt-2{{ else }} td-box td-box--white td-box--height-auto{{ end }} linkbox">
  <div class="col-12 col-lg-6">
    <h2>{{ T "community_learn" }}</h2>
    <p>{{ T "community_using" . }}</p>
    {{ with index $links "user" -}}
      {{ template "community-links-list" . -}}
    {{ end }}
  </div>
  <div class="col-12 col-lg-6">
    <h2>{{ T "community_develop" }}</h2>
    <p>{{ T "community_contribute" . }}</p>
    {{ with index $links "developer" -}}
      {{ template "community-links-list" . -}}
    {{ end }}
    <p>
      {{ T "community_how_to" . }}
      {{ $url := $contribUrl -}}
      {{ $isExternal := (urls.Parse $url).IsAbs -}}
      {{ if not $isExternal -}}
        {{ with site.GetPage $url }}{{ $url = .RelPermalink }}{{ end -}}
      {{ end -}}
      <a href="{{ $url | relURL }}">{{ T "community_guideline" }}</a>.
    </p>
  </div>
</section>

{{ define "community-links-list" -}}
<ul>
{{ range . -}}
  <li title="{{ .name }}">
    {{ $url := .url -}}
    {{ $isExternal := (urls.Parse $url).IsAbs -}}
    {{ if not $isExternal -}}
      {{ with site.GetPage .url }}{{ $url = .RelPermalink }}{{ end -}}
    {{ end -}}
    <a href="{{ $url | relURL }}"
      {{- if $isExternal }} target="_blank" rel="noopener" {{- end -}}
    > {{/**/ -}}
      <i class="{{ .icon }}"></i> {{ .name -}}
    </a>:
    {{ .desc }}
  </li>
{{ end }}
</ul>
{{- end }}
