{{ $context := .context -}}
{{ $taxo := .taxo -}}
{{ if (gt (len ($context.GetTerms $taxo)) 0) -}}
<div class="taxonomy taxonomy-terms-article taxo-{{ urlize $taxo }}">
  {{/* A field label, not a section heading: as an <h5> directly after the page
       <h1> it broke heading order on every article. */ -}}
  <span class="taxonomy-title">{{ partial "taxonomy-label.html" (dict "page" $context "key" $taxo) }}:</span>
  <ul class="taxonomy-terms">
    {{ range ($context.GetTerms $taxo) -}}
      <li><a class="taxonomy-term" href="{{ .Permalink }}" data-taxonomy-term="{{ urlize .LinkTitle }}"><span class="taxonomy-label">{{ .LinkTitle }}</span></a></li>
    {{ end -}}
  </ul>
</div>
{{ end -}}
